<nav class="navbar navbar-expand-lg justify-content-between align-items-end">

    <h1 class="text-left"><a class="nav-link" href="/index">MewCat</a></h1><br>

    <div class="float-right " id="navbarResponsive">

        <div class="navbar-nav">
            <a class="nav-link n-item" href="/about">About</a>
            <a class="nav-link n-item" href="/user">User</a>
            <a class="nav-link n-item" href="/contact">Settings</a>
        </div>

    </div>

</nav>